{% extends "base.html" %}


{% block title %}

<h1>Check-in Page <span style="color: #ff0000">(late)</span></h1>

{% endblock %}



{% block subtitle %}

<p>Welcome!</p>

{% endblock %}




{% block content %}
<style>
    .checkin{
        margin: auto;
        text-align: center;
    }
    .reason{
        margin: auto;
        width: 600px;
        padding-top: 50px;
        #form{
            text-align: center;
        }
        #submit_button{
            text-align: left;
        }
    }

</style>

    <div>

        <p style="text-align:center; padding-top: 100px">
            <span style="color: #ff0000"><b>You are late.</b></span> Please click the Check-in Button to mark your attendance, and fill in a reason if you would like.
        </p>

        <p>
            <div class="checkin">
                <button type="button" class="btn btn-success btn-lg">Check me in!</button>
            </div>
            <div class="reason">
                <textarea id="form" class="form-control" rows="3" placeholder="Enter Reason (optional)"></textarea>
                <button id="submit_button" type="button" class="btn btn-primary">Submit</button>
            </div>
        </p>

    </div>

</div>


{% endblock %}