{% extends "local_admin_view/local_admin_base.html" %}
{% load staticfiles %}

{% block content %}
    <div id="titleContainer">
        <h1>Today's Attendance</h1>
    </div>

    <div class="container">
          <h2>Cohort 1</h2>
{#          <p>The .table-striped class adds zebra-stripes to a table:</p>#}
          <table id="table" class="table table-striped">
            <thead>
              <tr>
                <th>First</th>
                <th>Last</th>
                <th>Time</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>John</td>
                <td>Doe</td>
                <td>10:30 AM</td>
                <td>Late</td>
              </tr>
              <tr>
                <td>Mary</td>
                <td>Moe</td>
                <td>10:30 AM</td>
                <td>Late</td>
              </tr>
              <tr>
                <td>July</td>
                <td>Dooley</td>
                <td>8:00 AM</td>
                <td>On Time</td>
              </tr>
            </tbody>
          </table>
        </div>
{% endblock %}