{% extends "student_view/student_view_base.html" %}

{% block main_content %}
    <h1>Student Attendance -- You're  <span style="color: #ff0000"><b>(student_status){{ student_status }}</b></span></h1>
    <p>some (message){{ message }} goes here depending on the student's status</p>

    {% if student_status != "on time" %}
        <textarea id="form" class="form-control" rows="3" placeholder="Enter a reason (pls)"></textarea>
        <br>
    {% endif %}
    <!-- button -->
    <button id="submit_button" type="button" class="btn btn-success btn-lrg">Submit Attendance</button>

{% endblock %}