{% extends "registration/base.html" %}
{% load staticfiles %}
<!DOCTYPE html>
{% block content %}
<html lang = "en">
    <head>
        <meta charset = "UTF-8">
        <title>Title</title>
    </head>
    <!-- insert the logo for moringa school here - sancharz -->
    <div>
        <img src = "global_admin/images/logo.png" />
    </div>

    <body>
        <!-- format this to make it look nicer - sancharz -->
        <h1> Welcome the Moringa School Attendance Tracking Web Portal </h1>

        <!-- add links to log in and register - sancharz -->
        <p> <a href = "signup/"> REGISTER</a> </p>
        <p> <a href = "login/"> LOG IN</a> </p>

    </body>

</html>
{% endblock %}