<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>

    <body>
        <h1>Views for Students (sample designs for meeting)</h1>
        <p> <a href="/check_in/">View1: Student check in</a></p>
        <p> <a href="/check_in_late/">View2: Student check in late</a></p>
        <p> <a href="/not_on_campus/">View3: Student not on campus</a></p>
        <p> <a href="/view_record/">View4: Records page</a></p>

        <h1>Views For Global Admin (sample design)</h1>
        <p> <a href="/global_home">Global Admin home</a></p>

    </body>

    </body>

</html>