<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <style>
        .bottominfo{
            position: fixed;
            bottom: 0;
        }
        #attendancepolicy{
            text-align: center;
        }
    </style>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">



    <!-- Bootstrap core CSS -->
    <link href= "{% static "simple_sidebar/vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href= "{% static "simple_sidebar/css/simple-sidebar.css" %}" rel="stylesheet">

</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a>
                        Moringa Check-in
                    </a>
                </li>
                <li>
                    <a href="{{request.META.HTTP_REFERER}}">Dashboard</a>
                </li>
                <li>
                    <a href="/view_record/">View Record</a>
                </li>
                <li>
                    <a href="/student_profile/">Profile</a>
                </li>
                <!--<li>-->
                    <!--<a href="#">Overview</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="#">Events</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="#">About</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="#">Services</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="#">Contact</a>-->
                <!--</li>-->
            </ul>]\
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <h1>{% block title %} {% endblock %}</h1>
                <div class="dropdown-divider"></div>
                <h4>{% block subtitle %} {% endblock %}</h4>
                {% block content %}
                {% endblock %}

                <!--<p>This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content will be pushed off canvas.</p>-->
                <!--<p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p>-->
                <!--<a href="#menu-toggle" class="btn btn-secondary" style="position:absolute; bottom:30px;" id="menu-toggle">Toggle Menu</a>-->
            <!--<div class="bottominfo" id="clockbox"></div>-->
            </div>

            <a href="#menu-toggle" class="btn btn-secondary" style="position:fixed; bottom:30px;" id="menu-toggle">Toggle Menu</a>
            <div class="bottominfo" id="clockbox"></div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->
    <script src="{% static "simple_sidebar/vendor/jquery/jquery.min.js" %}"></script>
    <script src="{% static "simple_sidebar/vendor/popper/popper.min.js" %}"></script>
    <script src="{% static "static/simple_sidebar/vendor/bootstrap/js/bootstrap.min.js" %}"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

    <!--Clock script-->
        <script type="text/javascript">
        tday=new Array("Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday");
        tmonth=new Array("January","February","March","April","May","June","July","August","September","October","November","December");
        function GetClock(){
        var d=new Date();
        var nday=d.getDay(),nmonth=d.getMonth(),ndate=d.getDate(),nyear=d.getFullYear();
        var nhour=d.getHours(),nmin=d.getMinutes(),nsec=d.getSeconds(),ap;
        if(nhour==0){ap=" AM";nhour=12;}
        else if(nhour<12){ap=" AM";}
        else if(nhour==12){ap=" PM";}
        else if(nhour>12){ap=" PM";nhour-=12;}
        if(nmin<=9) nmin="0"+nmin;
        if(nsec<=9) nsec="0"+nsec;
        document.getElementById('clockbox').innerHTML=""+tday[nday]+", "+tmonth[nmonth]+" "+ndate+", "+nyear+" "+nhour+":"+nmin+":"+nsec+ap+"";
        }
        window.onload=function(){
        GetClock();
        setInterval(GetClock,1000);
        }
        </script>





</body>

</html>