{% extends "student_view/student_view_base.html" %}

{% block main_content %}
    <h1>View Records</h1>
    <br>
    <table class="table">
        <!-- table header -->
        <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Status</th>
            <th>Reason</th>
        </tr>
        <!-- for number of records -->
        {% for row, status in list %}
            <tr>
                <td>{{ row.date | date:"d M Y" }}</td>
                <td>{{ row.date | time:"g:i A" }}</td>
                <td>{{ status }}</td>
                <td>{{ row.excuse }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

