{% extends "student_view/student_view_base.html" %}

{% block main_content %}
    <h1>View Records</h1>
    <br>
    <table class="table">
        <!-- table header -->
        <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Status</th>
            <th>Reason</th>
        </tr>
        <!-- dummy hard coded sample -->
        <tr>
            <td>10/18/17</td>
            <td>8:50 AM</td>
            <td>Late</td>
            <td>(reason){{ reason }}</td>
        </tr>
        <!-- for number of records -->
        {% for day in days %}
            <tr>
                <td>10/18/17</td>
                <td>8:50 AM</td>
                <td>Late</td>
                <td>(reason){{ reason }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

