{% extends "local_admin/local_base.html" %}

{% load staticfiles %}

{% block content %}
    <link href= "{% static "global_admin/css/view_information.css" %}" rel="stylesheet">

    <div id="title">
        <h1>Student {{ info }} Information </h1>
    </div>


    {% if info == "Profile" %}
        <div class="container">

          <table class="table table-striped">
            <thead>
              <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Program</th>
                <th>Cohort</th>
              </tr>
            </thead>
            <tbody>
                {% for student in students %}
                    <tr>
                        <td>{{student.first_name}}</td>
                        <td>{{student.last_name}}</td>
                        <td>{{student.email}}</td>
                        <td>{{student.program}}</td>
                        <td>{{student.cohort}}</td>
                    </tr>

                {% endfor %}


            </tbody>
          </table>
        </div>
    {% endif %}

    {% if info == "Attendance" %}
        <div class="container">

          <table class="table table-striped">
            <thead>
              <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Date</th>
                <th>Status</th>
                <th>Excuse</th>
              </tr>
            </thead>
            <tbody>
                {% for student in students %}
                    <tr>
                        <td>{{student.first_name}}</td>
                        <td>{{student.last_name}}</td>
                        <td>{{student.date}}</td>
                        <td>{{student.status}}</td>
                        <td>{{student.excuse}}</td>
                    </tr>

                {% endfor %}


            </tbody>
          </table>
        </div>
    {% endif %}




{% endblock %}