#wrapper {
    width: 2200px;
    transform: translate3d(0, 0, 0);
    transition: transform .5s ease-in-out;
}
.content {
    float: left;
    width: 550px;
    height: 350px;
    white-space: normal;
    background-repeat: no-repeat;
}
#itemOne {
    background-color: #00efba;

}

#itemTwo {
    background-color: #FF7F50;

}
#itemThree {
    background-color: #1E90FF;

}
#itemFour {
    background-color: #DC143C;

}

#contentContainer {
    width: 550px;
    height: 350px;
    border: 8px black solid;
    overflow: hidden;

}

#navLinks {
    text-align: center;
    width: 550px;
}
    #navLinks ul {
        margin: 0px;
        padding: 0px;
        display: inline-block;
        margin-top: 6px;
    }
        #navLinks ul li {
            float: left;
            text-align: center;
            margin: 50px;
            list-style: none;
            cursor: pointer;
            background-color: #CCCCCC;
            padding: 5px;
            border-radius: 50%;
            border: black 5px solid;
        }
            #navLinks ul li:hover {
                background-color: #FFFF00;
            }
            #navLinks ul li.active {
                background-color: #333333;
                color: #FFFFFF;
                outline-width: 7px;
            }
                #navLinks ul li.active:hover {
                    background-color: #484848;
                    color: #FFFFFF;
                }

#slidingContent {
    text-align: center;
    position: relative;
    margin: 50px 0 0 -200px;
    top: 40%;
    left: 45%;
    width: 80%;
    height: 50%;
}


body {
    margin: 0px;
    padding: 0;
    width: 100%; /* full window width */
    text-align: center;
    height: 100%;
    overflow: hidden;

}

#docText {
    padding-top: 1%;
    position: relative;

}

#selection {
    font-family: "Apple LiGothic";
    font-size: 20px;

}

#locationText {
    font-family: "Apple SD Gothic Neo";
    font-size: 30px;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    line-height: 280px;
}
