{% extends "registration/base.html" %}
{% load staticfiles %}

<!DOCTYPE html>

{% block content %}
    <div class="container">
        <form class="form-signin" method="post" action="/login/">
             {% csrf_token %}
                <img class="displayed" src="{% static "global_admin/images/logo.png"%}" alt="Moringa Logo">
                <label for="inputEmail" class="sr-only">Username</label>
                <input type="text" name="username" class="form-control" placeholder="Username" required autofocus>
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>    
        </form>
        <p> <a href = "signup/"> REGISTER</a> </p>
    </div>
{% endblock %}