{% extends "global_admin_view/global_base.html" %}
{% load staticfiles %}


{% block content %}
<!-- not sure what the below line is for -->
<!-- <link href="{% static "global_admin/css/admin_profile.css" %}" rel="stylesheet">
 -->


{#    Is there a need to differentiate between globa/local admin profile info?      #}
 <h1> Adminstrator Profile Information</h1>
    {% if user_type == "local_admin" %}
        <ul>
            <li>
                First Name: {{ first_name }}
            </li>
            <li>
                Last Name: {{ last_name }}
            </li>
            <li>
                Program: {{ program }}
            </li>
            <li>
                Cohort: {{ cohort }}
            </li>
            <li>
                Location: {{ location }}
            </li>
            <li>
                Email: {{ email }}
            </li>
        </ul>
    {% endif %}

    {% if user_type == "global_admin" %}
        <ul>
            <li>
                First Name: {{ first_name }}
            </li>
            <li>
                Last Name: {{ last_name }}
            </li>
            <li>
                Program: {{ program }}
            </li>
            <li>
                Cohort: {{ cohort }}
            </li>
            <li>
                Location: {{ location }}
            </li>
            <li>
                Email: {{ email }}
            </li>
        </ul>
    {% endif %}

{% endblock %}




