{% extends "global_admin_view/global_base.html" %}

{% load staticfiles %}

{% block content %}
    <link href= "{% static "global_admin/css/global_admin/.css" %}" rel="stylesheet">

    <div id="title">
        <h1> Welcome Administrator </h1>
    </div>

        {% if not location %}
            <h2>Select Location</h2>
            <br>
            <form action="/global_admin/" method="post">
                {% csrf_token %}
                <button type="submit" name="location" value="Nairobi" class="btn btn-info btn-block">Nairobi</button>
            </form>

            <br><br>

            <form action="/global_admin/" method="post">
                {% csrf_token %}
                <button type="submit" name="location" value = "Mumbai" class="btn btn-info btn-block">Mumbai</button>
            </form>
        {% endif %}

        {% if location %}
            {% if not user_type %}
                <h2>Select User</h2>
                <br>
                <form action="/global_admin/" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="location" value={{location}}>
                    <input type="hidden" name="user_type" value="Local Admins">
                    <button type="submit" class="btn btn-info btn-block">Local Admin</button>
                </form>

                <br><br>

                <form action="/global_admin/" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="location" value={{location}}>
                    <input type="hidden" name="user_type" value="Students">
                    <button type="submit" class="btn btn-info btn-block">Student</button>
                </form>
            {% else %}

            {% endif %}
        {% endif %}

        {% if user_type == "Students" and not info %}
            <h2>Select Information</h2>
            <br>
            <form action="/global_admin/" method="post">
                {% csrf_token %}
                <input type="hidden" name="location" value={{location}}>
                <input type="hidden" name="user_type" value="Students">
                <input type="hidden" name="info" value="Profile">
                <button type="submit" class="btn btn-info btn-block">Profile</button>
            </form>

            <br><br>

            <form action="/global_admin/" method="post">
                {% csrf_token %}
                <input type="hidden" name="location" value={{location}}>
                <input type="hidden" name="user_type" value="Students">
                <input type="hidden" name="info" value="Attendance">
                <button type="submit" class="btn btn-info btn-block">Attendance</button>
            </form>
        {% else %}
        {% endif %}



        {% if info %}
            Location is : {{location}} <br>
            User type is: {{user_type}} <br>
            info type is: {{info}}

        {% endif %}

{% endblock %}