{% extends "global_admin_view/global_base.html" %}

{% load staticfiles %}

{% block content %}
    <link href= "{% static "global_admin/css/view_information.css" %}" rel="stylesheet">

    <div id="title">
        {% if user_type == "Local Admins" %}
            <h1>Information for {{user_type}} of {{location}}</h1>
        {% endif %}

        {% if user_type == "Students" %}
            <h1>{{info}} Information for {{user_type}} of {{location}}</h1>
        {% endif %}

    </div>

    {% if user_type == "Local Admins" %}
        <div class="container">

          <table class="table table-striped">
            <thead>
              <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
              </tr>
            </thead>
            <tbody>
                {% for admin in local_admins %}
                    <tr>
                        <td>{{admin.first_name}}</td>
                        <td>{{admin.last_name}}</td>
                        <td>{{admin.email}}</td>
                        <td>
                            <form action="/edit_information/" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="location" value={{ location }}>
                                <input type="hidden" name="user_type" value={{ user_type }}>
                                <input type="hidden" name="display" value="true">
                                <input type="hidden" name="first" value={{ admin.first_name }}>
                                <input type="hidden" name="last" value={{ admin.last_name }}>
                                <input type="hidden" name="email" value={{ admin.email }}>

                                <button type="submit" class="btn btn-primary btn-block">Edit</button>
                            </form>
                        </td>
                        <td>
                            <form action="/global_home/" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="location" value={{ location }}>
                                <input type="hidden" name="user_type" value={{ user_type }}>
                                <input type="hidden" name="delete" value="true">
                                <input type="hidden" name="email" value={{ admin.email }}>

                                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                            </form>
                        </td>
                    </tr>

                {% endfor %}


            </tbody>
          </table>
        </div>

    {% endif %}

    {% if user_type == "Students" and info == "Profile" %}
        <div class="container">

          <table class="table table-striped">
            <thead>
              <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Program</th>
                <th>Cohort</th>
              </tr>
            </thead>
            <tbody>
                {% for student in students %}
                    <tr>
                        <td>{{student.first_name}}</td>
                        <td>{{student.last_name}}</td>
                        <td>{{student.email}}</td>
                        <td>{{student.program}}</td>
                        <td>{{student.cohort}}</td>
                        <td>
                            <form action="/edit_information/" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="location" value={{ location }}>
                                <input type="hidden" name="info" value={{ info }}>
                                <input type="hidden" name="user_type" value={{ user_type }}>
                                <input type="hidden" name="display" value="true">
                                <input type="hidden" name="first" value={{ student.first_name }}>
                                <input type="hidden" name="last" value={{ student.last_name }}>
                                <input type="hidden" name="email" value={{ student.email }}>
                                <input type="hidden" name="program" value={{ student.program }}>
                                <input type="hidden" name="cohort" value={{ student.cohort }}>

                                <button type="submit" class="btn btn-primary btn-block">Edit</button>
                            </form>
                        </td>
                        <td>
                            <form action="/global_home/" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="location" value={{ location }}>
                                <input type="hidden" name="info" value={{ info }}>
                                <input type="hidden" name="user_type" value={{ user_type }}>
                                <input type="hidden" name="delete" value="true">
                                <input type="hidden" name="email" value={{ student.email }}>

                                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                            </form>
                        </td>


                    </tr>

                {% endfor %}


            </tbody>
          </table>
        </div>
    {% endif %}

    {% if user_type == "Students" and info == "Attendance" %}
        <div class="container">

          <table class="table table-striped">
            <thead>
              <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Date</th>
                <th>Status</th>
                <th>Excuse</th>
              </tr>
            </thead>
            <tbody>
                {% for student in students %}
                    <tr>
                        <td>{{student.first_name}}</td>
                        <td>{{student.last_name}}</td>
                        <td>{{student.date}}</td>
                        <td>{{student.status}}</td>
                        <td>{{student.excuse}}</td>
                        <td>
                            <form action="/edit_information/" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="location" value={{ location }}>
                                <input type="hidden" name="info" value={{ info }}>
                                <input type="hidden" name="user_type" value={{ user_type }}>
                                <input type="hidden" name="display" value="true">
                                <input type="hidden" name="first" value={{ student.first_name }}>
                                <input type="hidden" name="last" value={{ student.last_name }}>
                                <input type="hidden" name="email" value={{ student.date }}>
                                <input type="hidden" name="program" value={{ student.status }}>
                                <input type="hidden" name="cohort" value={{ student.excuse }}>

                                <button type="submit" class="btn btn-primary btn-block">Edit</button>
                            </form>
                        </td>
                    </tr>

                {% endfor %}


            </tbody>
          </table>
        </div>
    {% endif %}




{% endblock %}