{% extends "base.html" %}


{% block title %}

<h1>Check-in Page</h1>

{% endblock %}



{% block subtitle %}

<p>Welcome!</p>

{% endblock %}




{% block content %}
<style>
    .checkin{
        margin: auto;
        text-align: center;
    }
</style>

    <div>

        <p style="text-align:center; padding-top: 100px">You are on time. Please click the Check-in Button to mark your attendance.</p>

        <p>
            <div class="checkin">
                <button type="button" class="btn btn-success btn-lg">Check me in!</button>
            </div>
        </p>

    </div>

</div>


{% endblock %}