{% extends "base.html" %}


{% block title %}

<h1>You are not on campus.</h1>

{% endblock %}





{% block attendance_policy %}

<style>
    .reason{
        margin: auto;
        width: 600px;
        padding-top: 50px;
        #form{
            text-align: center;
        }
        #submit_button{
            text-align: left;
        }
    }
</style>

    <p>
        <h3 style="padding-top: 50px">If you think this is an error, please check that you are connected to MoringaSchool Wi-Fi.</h3>
        <h4 style="padding-top: 30px">If you wish to submit a reason for absence, do so below.</h4>
    </p>

    <div class="reason">
        <textarea id="form" class="form-control" rows="3" placeholder="Enter reason for absence (optional)"></textarea>
        <button id="submit_button" type="button" class="btn btn-danger">Submit</button>
    </div>

{% endblock %}

